@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');

.Name {
    font-family: 'EB Garamond', serif;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    font-size: 3em;
    transform: rotate(180deg);
    color: #48BB78;
    max-width: 80px;
    min-height: 695px;
    padding-top: 50px;
    
}

.spacer {
    width: 30px;
}