@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.Name {
    font-family: 'Staatliches', cursive;
    font-size: 2em;
    color: #70CDA3;
    padding-left: 85px;
    margin-bottom: 5px;
}
